<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SDET-Unicorns">
    <listeners>
        <listener class-name="com.sdet_unicorns.web.utilities.listeners.TestNGListener"/>
    </listeners>
    <test name="Scenario1-SignUp">
        <classes>
            <class name="com.sdet_unicorns.web.tests.signup.TestRunner"/>
        </classes>
    </test>
</suite>